{% extends 'base.html.twig' %}

{% block title %}Hello ErreurControlleurController!{% endblock %}

{% block body %}

<h1>Une erreur est survenue lors de l'authentification!</h1>
<a href="{{path('connexion')}}">Veuillez réessayer</a>
    
{% endblock %}
