{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}

<h1>Plateforme visiteur</h1>

<a href="{{path('connexion')}}">Cliquez ici pour vous connecter</a>



{% endblock %}
