{% extends 'base.html.twig' %}

{% block title %}Hello ComptableController!{% endblock %}

{% block body %}
<h1>Plateforme comptable</h1>

<a href="{{path('cocomptable')}}">Cliquez ici pour vous connecter</a>
{% endblock %}
